// Los sliders
@keyframes slideOutLeft
	0%
		transform: translateX(0)

	100%
		transform: translateX(-100%)

@keyframes slideInRight
	0%
		transform: translateX(100%)

	100%
		transform: translateX(0)

@keyframes cicloInfinito
	0%
		transform: translateX(-100%)
	20%
		transform: translate(-100%)
	40%
		transform: translate(0)
	60%
		transform: translate(0)
	80%
		transform: translateX(100%)
	100%
		transform: translate(100%)
		

		

// Animaciones Mixins
@mixin animacionEstandar()
	animation-delay: 0
	animation-duration: 0.2s
	animation-timing-function: ease-in-out
	animation-fill-mode: both

@mixin animacionLenta()
	animation-delay: 0
	animation-duration: 1s
	animation-timing-function: ease-in-out
	animation-fill-mode: both
	
@mixin fadeOutUp()
	animation-name: fadeOutUp
	opacity: 0
	visibility: hidden
	@include animacionEstandar()
.fadeOutUp
	@include fadeOutUp()
	

@mixin fadeOutDown()
	animation-name: fadeOutDown
	opacity: 0
	visibility: hidden
	@include animacionEstandar()
.fadeOutDown
	@include fadeOutDown()
		

@mixin fadeInDown()
	animation-name: fadeInDown
	opacity: 1
	visibility: visible
	@include animacionEstandar()
.fadeInDown
	@include fadeInDown()
	

@mixin fadeInUp()
	animation-name: fadeInUp
	@include animacionEstandar()
.fadeInUp
	@include fadeInUp()

// Animaciones tipo slide
@mixin slideInLeft()
	animation-name: slideInLeft
	@include animacionLenta()
.slideInLeft
	@include slideInLeft()

@mixin slideInRight()
	animation-name: slideInRight
	@include animacionLenta()
.slideInRight
	@include slideInRight()


@mixin slideOutLeft()
	animation-name: slideOutLeft
	@include animacionLenta()
.slideOutLeft
	@include slideOutLeft()


@mixin slideOutRight()
	animation-name: slideOutRight
	@include animacionLenta()
.slideOutRight
	@include slideOutRight()
	

@mixin cicloInfinito()
	animation-name: cicloInfinito
	animation-delay: 0
	animation-duration: 10s
	animation-timing-function: linear
	animation-fill-mode: both
	animation-iteration-count: infinite
	animation-direction: alternate
.cicloInfinito
	@include cicloInfinito()
	
	
	



// Menú abierto
@mixin abierto()
	height: auto
	@include fadeInDown()
	opacity: 1
	visibility: visible
	z-index: 2

// Menú Cerrado
@mixin cerrado()
	height: 0
	@include fadeOutUp()
	opacity: 0
	visibility: hidden
	z-index: -1

// Animaciones a ser definidas con clases
/** .fadeIn
	animation-name: fadeIn
	@include animacionEstandar()
	opacity: 0.5

	.fadeOut
		animation-name: fadeOut
		@include animacionEstandar() 
	**/