// Estilos normales a toda la web
*
	box-sizing: border-box

html
	scroll-behavior: smooth


body
	background: none
	color: $color_texto
	font-size: 140%
	font-family: $fuente_letra
	letter-spacing: -1px
	line-height: 170%
	text-align: center
	word-spacing: 1px

	// hola
a
	color: $color_titulo
	text-decoration: none
	transition: all 0.2s ease-in-out

blockquote, pre, code, kbd, samp, sub, sup, small
	font-family: $fuente_subtitulo
	font-weight: bolder

blockquote
	font-style: italic
	padding-left: 1rem
	position: relative
	border-right: 0.5rem solid $color_negro

	&::before
		color: $color_negro
		content: "\e057"
		font-family: "icomoon"
		font-style: normal
		font-weight: bolder
		font-size: 2rem
		left: -2rem
		position: absolute
		top: 0

	&::first-letter
		font-size: 4rem
		float: left
		vertical-align: bottom

em
	font-weight: 300
	font-style: italic


h1, h2
	font-family: $fuente_titulo

h3, h4, h5, h6
	font-family: $fuente_subtitulo

img
	width: 100%



strong
	font-style: italic
	font-weight: bold

