// Estilos normales a toda la web
*
	box-sizing: border-box

html
	scroll-behavior: smooth


body
	background-color: $color_fondo
	color: $color_texto
	font-size: 140%
	font-family: $fuente_letra
	letter-spacing: 1%
	line-height: 170%
	text-align: center
	word-spacing: 1px

	// hola
a
	text-decoration: none
	transition: all 0.2s ease-in-out

em
	font-weight: 300
	font-style: italic

strong
	font-style: italic
	font-weight: bold

h1, h2
	font-family: $fuente_titulo

h3, h4, h5, h6
	font-family: $fuente_subtitulo

blockquote, pre, code, kbd, samp, sub, sup, small
	font-family: $fuente_subtitulo
	font-weight: bolder

img
	width: 100%
