/** Sistema de columnas y grids **/
.grid
	display: grid
	
	@media all and ( min-width: $tablet )
		grid-template-areas: "header header header header" "sidebar contenido contenido contenido" "sidebar paginacion paginacion paginacion"

		&__header
			grid-area: header
		
		&__contenedor
			grid-area: contenido
		
		&__paginacion
			grid-area: paginacion

		&__sidebar
			grid-area: sidebar
			max-width: 300px


			