/** ESTILOS DE TODOS LOS FORMULARIOS Y SUS BOTONES **/
.formulario
	&__label
		display: block
		overflow: hidden
		position: relative

		&__boton
			background: none
			color: $color_negro
			display: inline-block
			margin-left: -$rem * 3.1
			padding: $rem * 0.95
			&:hover
				cursor: pointer

[type="search"]
	background: none
	border: 1px solid $color_negro
	color: $color_negro
	height: $rem * 3
	outline: none
	padding: $rem * 0.5
	padding-right: $rem * 3

.widget
	[type="checkbox"]
		opacity: 0
		position: absolute
		visibility: hidden
	label
		display: inline-block
		font-size: $rem * 0.75
		background: $color_blanco
		font-family: $fuente_subtitulo
		font-weight: 300
		color: $color_negro
		padding: ($rem * 0.25) ($rem * 0.75)
		text-transform: uppercase
		border: 1px solid $color_negro
