/** ESTILOS DE TODOS LOS FORMULARIOS Y SUS BOTONES **/
.formulario
	&__label
		display: block
		position: relative
		overflow: hidden

		&__boton
			background: none
			display: inline-block
			color: $color_negro
			margin-left: -$rem * 3.1
			padding: $rem * 0.95
			// width: $rem * 2
			&:hover
				cursor: pointer

[type="search"]
	background: none
	border: 1px solid $color_negro
	color: $color_negro
	height: $rem * 3
	padding: $rem * 0.5
	padding-right: $rem * 3
	outline: none