@mixin box-shadow_lindo()
	box-shadow: 0px 1px 1px 0px rgba(#fff, 0.5) inset, 0px -15px 15px 0px rgba(#000, 0.25) inset
	-o-box-shadow: 0px 1px 1px 0px rgba(#fff, 0.5) inset, 0px -15px 15px 0px rgba(#000, 0.25) inset
	-ms-box-shadow: 0px 1px 1px 0px rgba(#fff, 0.5) inset, 0px -15px 15px 0px rgba(#000, 0.25) inset
	-moz-box-shadow: 0px 1px 1px 0px rgba(#fff, 0.5) inset, 0px -15px 15px 0px rgba(#000, 0.25) inset

@mixin text-shadow_lindo()
	text-shadow: 0px -1px 0px rgba(#000, 0.5)
	-o-text-shadow: 0px -1px 0px rgba(#000, 0.5)
	-ms-text-shadow: 0px -1px 0px rgba(#000, 0.5)
	-moz-text-shadow: 0px -1px 0px rgba(#000, 0.5)
	-webkit-text-shadow: 0px -1px 0px rgba(#000, 0.5)

@mixin espacio_blanco()
	white-space: pre-wrap
	white-space: -o-pre-wrap
	white-space: -pre-wrap
	white-space: -moz-pre-wrap
	white-space: -webkit-pre-wrap

// reutilizables
.clearboth,
.separador
	clear: both

.separador
	padding: 0 0.5rem
	display: inline-block

// Triángulos en CSS
@mixin triangulo()

    