/* Encabezados */
.header
	background: red

	// El botón del menú principal
	&__boton
		background: green
		width: 2rem

		&__menu
			display: block
			font-size: 2rem
		

	// El logotipo
	&__logo
		margin: 0
		overflow: hidden
		width: 200px

		&__enlace
			&__imagen
				width: 100%
				display: block

	