/* Encabezados */
.header
	align-items: center
	background: $color_blanco
	display: flex
	justify-content: space-between
	left: 0
	height: $rem * 3
	padding: ($rem * 0.3) ($rem * 0.75)
	position: relative
	z-index: 2


	// Modo escritorio
	@media all and ( min-width: $desktop )
		position: static
		


	// El botón del menú principal
	&__boton
		color: $color_titulo

		&__menu
			&--enlace
				color: $color_negro
				display: block
				font-size: $rem * 1.25
			

			@media all and ( min-width: $mobile )
				font-size: $rem * 1.5

			// Ocultando en modo Escritorio
			@media screen and ( min-width: $desktop )
				display: none
			

	
	// El logotipo con texto
	&__logoTexto
		font-family: $fuente_subtitulo
		font-weight: lighter
		font-size: $rem
		letter-spacing: -2px
		margin: 0

		
		@media all and ( min-width: $mobile )
			font-size: $rem *  1.25
		
		@media all and ( min-width: $desktop )
			font-size: $rem * 1.5


		&__enlace
			color: $color_titulo
			text-decoration: none

			&--texto
				color: $color_negro

		&:hover
			color: $color_texto


/** TITULARES DEL RESTO DE LAS PAGINAS **/
.encabezado
	align-items: center
	background: $color_3
	padding: $rem
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	
	&__titulo
		color: $color_blanco
		font-family: $fuente_titulo
		flex: 1 1 100%
		font-size: $rem * 3
		margin: 0
		text-transform: uppercase
	
	&__formulario
		flex: 0 0 auto
		@media all and ( max-width: $tablet )
			display: none
			