/* Encabezados */
.header
	background: $color_blanco
	display: flex
	justify-content: space-between
	align-items: center
	left: 0
	padding: 0.5rem 1rem
	position: relative
	z-index: 2


	// Modo escritorio
	@media all and ( min-width: $desktop )
		position: static
		


	// El botón del menú principal
	&__boton
		color: $color_titulo

		&__menu

			&--enlace
				color: $color_titulo
				display: block
				font-size: 1.5rem
			

			@media all and ( min-width: $mobile )
				font-size: 2rem

			// Ocultando en modo Escritorio
			@media screen and ( min-width: $desktop )
				display: none
			

	
	// El logotipo con texto
	&__logoTexto
		font-family: $fuente_subtitulo
		font-weight: lighter
		font-size: 1.25rem
		letter-spacing: -2px
		margin: 0

		
		@media all and ( min-width: $mobile )
			font-size: 1.5rem
		
		@media all and ( min-width: $desktop )
			font-size: 2rem


		&__enlace
			color: $color_titulo
			text-decoration: none

			&--texto
				color: $color_negro

		&:hover
			color: $color_texto
