// Navegación
.navegacion
	background: $color_fondo_2
	flex-flow: column
	flex-grow: 0
	left: 0
	position: absolute
	top: 4rem
	width: 100%

	&__lista
		list-style: none
		margin: 0
		height: 0
		opacity: 0
		padding-left: 0.75rem
		text-align: left
		visibility: hidden
		z-index: -1

		&__item

			&__enlace
				align-items: center
				color: $color_negro
				display: flex
				flex-direction: row
				flex-wrap: nowrap
				font-family: $fuente_titulo
				font-size: 1rem
				font-weight: bolder
				justify-content: space-between
				padding: 0.75rem 1rem
				position: relative
				vertical-align: bottom
				text-transform: uppercase

				&:hover
					&:before
						width: calc(100% - 1rem)

				&:before
					background: rgba($color_negro, 0.3)
					bottom: 10%
					content: ""
					height: 10%
					position: absolute
					right: 0
				
			&--activo > &__enlace
				&:before
					display: none



		&--abierto
			height: 100%
			opacity: 1			
			visibility: visible
			z-index: 1

		&--cerrado
			height: 0
			opacity: 0
			visibility: visible
			z-index: -1


.sublista
	opacity: 0
	height: 0
	visibility: hidden
	z-index: -1

	&--abierto
		opacity: 1
		height: 100%
		visibility: visible
		z-index: 1
	
	&--cerrado
		height: 0
		opacity: 0
		visibility: visible
		z-index: -1
