/** Reviews **/

.reviews
	align-content: stretch
	align-items: stretch
	color: $color_negro
	display: flex
	flex-flow: row nowrap
	justify-content: flex-start
	overflow-x: auto
	@include overflow()
	padding: $rem 0
	position: relative
	scroll-snap-type: x mandatory
	-o-scroll-snap-type: x mandatory
	-ms-scroll-snap-type: x mandatory
	-moz-scroll-snap-type: x mandatory
	-webkit-scroll-snap-type: x mandatory
	@media all and ( min-width: $tablet )
		padding: $rem ($rem * 0.5)

	&__header
		&__rating
			border-bottom: 1px dotted $color_texto
			margin-top: 0
			padding-top: 0

	&__item
		background: $color_blanco
		border-radius: $rem
		padding: $rem
		margin-left: 10%
		min-width: 100%
		&:first-child
			margin-left: 0
		
		@media all and ( min-width: $tablet )
			box-shadow: 3px 3px 5px $color_texto
		@media all and ( min-width: $desktop )
			min-width: 40%
			

	&__contenido
		margin: $rem auto
		font-size: $rem * 0.8
		line-height: 130%

		&--autor
			font-family: $fuente_subtitulo
			font-style: italic
			font-size: $rem * 0.75
