/** ES un modelo reutilizable de slider chico **/
.slider
	&__contenedor
		overflow: hidden
		position: relative
		height: 100%

	&__item
		left: 0
		position: absolute
		top: 0
		width: 100%

/** Nuevo prototipo de Slider **/
.contenedor
	position: relative

	&__ventana
		position: relative

		&__item
			position: relative
/**
		overflow-x: scroll
		@include overflow()
		display: flex
		flex-flow: row nowrap

			flex-flow: 0 0 auto

		overflow: hidden
		height: calc( 100% - #$rem * 2 )

		align-content: flex-start

			flex: 0 0 100%


			height: 100%
			**/