$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon-v1.0/fonts" !default;

$icon-bullhorn: "\e946";
$icon-price-tag: "\e94b";
$icon-price-tags: "\e94c";
$icon-barcode: "\e94d";
$icon-qrcode: "\e94e";
$icon-coin-dollar: "\e94f";
$icon-coin-euro: "\e950";
$icon-coin-pound: "\e951";
$icon-coin-yen: "\e952";
$icon-credit-card: "\e953";
$icon-phone2: "\e947";
$icon-phone-hang-up: "\e948";
$icon-location1: "\e949";
$icon-location2: "\e94a";
$icon-display: "\e956";
$icon-mobile2: "\e958";
$icon-tablet1: "\e95a";
$icon-bubble: "\e96b";
$icon-bubbles4: "\e970";
$icon-user1: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-spinner: "\e97a";
$icon-spinner2: "\e97b";
$icon-spinner3: "\e97c";
$icon-spinner6: "\e97f";
$icon-spinner9: "\e982";
$icon-spinner10: "\e983";
$icon-search2: "\e986";
$icon-switch1: "\e9b6";
$icon-list: "\e9ba";
$icon-list2: "\e9bb";
$icon-menu: "\e9bd";
$icon-link: "\e9cb";
$icon-attachment1: "\e9cd";
$icon-bookmark1: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-man: "\e9dc";
$icon-woman: "\e9dd";
$icon-man-woman: "\e9de";
$icon-happy1: "\e9df";
$icon-smile: "\e9e1";
$icon-tongue: "\e9e3";
$icon-sad1: "\e9e5";
$icon-wink: "\e9e7";
$icon-grin: "\e9e9";
$icon-cool: "\e9eb";
$icon-angry: "\e9ed";
$icon-neutral: "\e9f7";
$icon-wondering: "\e9fb";
$icon-plus1: "\ea0a";
$icon-minus1: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark1: "\ea10";
$icon-checkmark2: "\ea11";
$icon-enter: "\ea13";
$icon-exit: "\ea14";
$icon-play3: "\ea1c";
$icon-pause2: "\ea1d";
$icon-stop2: "\ea1e";
$icon-arrow-up: "\ea32";
$icon-arrow-right: "\ea34";
$icon-arrow-down: "\ea36";
$icon-arrow-left: "\ea38";
$icon-arrow-up2: "\ea3a";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down2: "\ea3e";
$icon-arrow-left2: "\ea40";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-checked2: "\ea55";
$icon-radio-unchecked: "\ea56";
$icon-facebook2: "\ea90";
$icon-instagram: "\ea92";
$icon-whatsapp1: "\ea93";
$icon-spotify: "\ea94";
$icon-telegram: "\ea95";
$icon-twitter2: "\ea96";
$icon-rss1: "\ea9b";
$icon-youtube1: "\ea9d";
$icon-soundcloud1: "\eac3";
$icon-linkedin2: "\eaca";
$icon-pinterest2: "\ead2";
$icon-svg: "\eae9";
$icon-warning: "\e90e";
$icon-locked: "\e90f";
$icon-inbox: "\e910";
$icon-comment: "\e911";
$icon-envelope1: "\e912";
$icon-cart: "\e913";
$icon-user: "\e914";
$icon-cog: "\e915";
$icon-music: "\e916";
$icon-pencil: "\e917";
$icon-switch: "\e918";
$icon-star: "\e919";
$icon-key1: "\e91a";
$icon-file: "\e91b";
$icon-plus: "\e91c";
$icon-minus: "\e91d";
$icon-picture1: "\e91e";
$icon-camera1: "\e91f";
$icon-search1: "\e920";
$icon-feed: "\e921";
$icon-blocked: "\e922";
$icon-play: "\e923";
$icon-pause: "\e924";
$icon-film: "\e925";
$icon-home: "\e926";
$icon-earth: "\e927";
$icon-location: "\e928";
$icon-info: "\e929";
$icon-heart1: "\e92a";
$icon-wrench: "\e92b";
$icon-calendar1: "\e92c";
$icon-monitor: "\e92d";
$icon-mobile1: "\e92e";
$icon-tag: "\e92f";
$icon-phone1: "\e930";
$icon-star1: "\e931";
$icon-thumbsup: "\e932";
$icon-thumbsdown: "\e933";
$icon-checkmark: "\e934";
$icon-cancel: "\e935";
$icon-gift: "\e936";
$icon-cone: "\e937";
$icon-coffee: "\e938";
$icon-flag: "\e939";
$icon-trashcan: "\e93a";
$icon-volume: "\e93b";
$icon-volume1: "\e93c";
$icon-forward: "\e93d";
$icon-paperclip1: "\e93e";
$icon-floppy: "\e93f";
$icon-trophy1: "\e940";
$icon-stop: "\e941";
$icon-smiley: "\e942";
$icon-shit: "\e943";
$icon-bookmark: "\e944";
$icon-creditcard: "\e945";
$icon-bitcoin: "\e900";
$icon-blogger: "\e901";
$icon-diaspora: "\e902";
$icon-digg: "\e903";
$icon-facebook: "\e904";
$icon-gmail: "\e905";
$icon-html5: "\e906";
$icon-messenger: "\e907";
$icon-paypal: "\e908";
$icon-reverbnation: "\e909";
$icon-soundcloud: "\e90a";
$icon-twitter: "\e90b";
$icon-whatsapp: "\e90c";
$icon-youtube: "\e90d";
$icon-mobile: "\e000";
$icon-laptop: "\e001";
$icon-tablet: "\e003";
$icon-phone: "\e004";
$icon-search: "\e007";
$icon-browser: "\e00c";
$icon-calendar: "\e00d";
$icon-picture: "\e00f";
$icon-pictures: "\e010";
$icon-video: "\e011";
$icon-camera: "\e012";
$icon-printer: "\e013";
$icon-edit: "\e01c";
$icon-ribbon: "\e01e";
$icon-lock: "\e020";
$icon-megaphone: "\e021";
$icon-trophy: "\e023";
$icon-map: "\e025";
$icon-envelope: "\e028";
$icon-gears: "\e02b";
$icon-key: "\e02c";
$icon-paperclip: "\e02d";
$icon-attachment: "\e02e";
$icon-pricetags: "\e02f";
$icon-magnifying-glass: "\e037";
$icon-caution: "\e03d";
$icon-recycle: "\e03e";
$icon-profile-male: "\e040";
$icon-profile-female: "\e041";
$icon-wine: "\e043";
$icon-map-pin: "\e047";
$icon-chat: "\e049";
$icon-heart: "\e04a";
$icon-clock: "\e055";
$icon-quote: "\e057";
$icon-alarmclock: "\e059";
$icon-refresh: "\e05a";
$icon-happy: "\e05b";
$icon-sad: "\e05c";
$icon-facebook1: "\e05d";
$icon-twitter1: "\e05e";
$icon-rss: "\e060";
$icon-linkedin: "\e062";
$icon-dribbble: "\e063";

