// Listado de colores

// Variables asignadas a Colores
$color_blanco: #fff
$color_gris: #eee
$color_texto: #444
$color_titulo: #A66AE2
$color_subtitulo: #00CE1B
$color_fondo: #efeefe
$color_advertencia: #F2E41B
$color_negro: #040507

$color_fondo_1: ""
$color_fondo_2: ""
$color_fondo_3: ""

// Fuentes
$fuente_letra: 'Poppins', sans-serif
$fuente_titulo: 'Roboto', sans-serif
$fuente_subtitulo: 'Roboto', sans-serif
