/* Encabezados */

.encabezado__barra
	background color_negro
	display flex
	justify-content space-between

.encabezado__menu
	&-b
		color color_titulo
		display block
		font-size 2rem
		padding 0.5rem 1rem
		line-height 150%
		text-align center
		text-decoration none
		&:hover
			color color_texto
	
.encabezado__logo
	&-imagen
		display none
		width 100%

	&-titulo
		color color_titulo
		margin 0
		font-size 1.5rem
		line-height 200%
		padding 0.5rem 1rem
		text-transform uppercase