/********************************** Fuentes ***********************************/
// ruta
$carpeta = "../fonts/"
$archivoFuente = 'Vollkorn-Black',
	'Vollkorn-BlackItalic',
	'Vollkorn-Regular',
	'Vollkorn-Italic',
	'Vollkorn-Medium',
	'Vollkorn-MediumItalic',
	'Vollkorn-Bold',
	'Vollkorn-BoldItalic',
	'Vollkorn-SemiBold',
	'Vollkorn-SemiBoldItalic',
	'Vollkorn-Black',
	'Vollkorn-BlackItalic',
	'Vollkorn-ExtraBold',
	'Vollkorn-ExtraBoldItalic',
	'BloggerSans-Light',
	'BloggerSans-LightItalic',
	'BloggerSans',
	'BloggerSans-Medium',
	'BloggerSans-MediumItalic',
	'BloggerSans-Bold',
	'BloggerSans-BoldItalic'


for valor in $archivoFuente
	@font-face
		font-family valor
		font-size normal
		font-weight normal
		src url($carpeta + valor + '.eot')
		src url($carpeta + valor + '.eot') format('embedded-opentype'),
			url($carpeta + valor + '.ttf') format('truetype'),
			url($carpeta + valor + '.svg') format('svg'),
			url($carpeta + valor + '.woff') format('woff'),
			url($carpeta + valor + '.woff2') format('woff2')

/* hola */