// Toda la home
.home
	&__contenido
		background-size cover
		height calc(100vh - 4rem)
		position relative

		&-boton
			margin-top 2rem
		
		&-titular
		&-subtitular
			color color_blanco
			margin 1rem auto

	&__division
		align-content center
		align-items stretch
		display flex
		flex-direction column
		flex-wrap nowrap
		height calc(100vh - 4rem)
		justify-content center
		text-align center
		position relative
	
	&-filtro
		background url("../img/1.jpg") 50% 50% no-repeat
		filter sepia(75%)
		height calc(100vh - 4rem)
		left 0
		height 100%
		position absolute
		top 0
		width 100%

		&:after
			background-color rgba(34,65,25, 0.5)
			content ""
			height 100%
			left 0
			position absolute
			top 0
			width 100%