// Normalizando estilos...

@import '../node_modules/nib'

@import 'normalizando'
@import 'variables'
@import 'iconos'
// @import 'fuentes' . Usaremos por el momento las de Google
@import 'body'
@import 'columnas'
@import 'encabezado'
@import 'navegacion'
@import 'home'
